.block {
    position: absolute;
    background-color: var(--TransparentBlack);
    backdrop-filter: blur(3px);
}

.selected-item-container {
    background-image: url('../../images/secondary-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 120px 48px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.selected-side-content {
    padding: 16px;
    background-color: var(--GrayBg);
    border-radius: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.selected-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.selected-title-info {
    font-size: clamp(1.5rem, 0.875rem + 2vw, 2rem);
    color: var(--WhiteColor);
}

.selected-favorites-info {
    display: flex;
    color: var(--WhiteColor);
    font-size: 20px;
    gap: 8px;
}

.favorites-icon {
    width: 24px;
    height: 24px;
    background-image: url('../../icons/favorite.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.selected-side-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.selected-side-description-title {
    color: var(--WhiteColor);
    font-size: 24px;
    font-weight: 600;
}

.selected-item-content-side-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selected-episodes-info,
.selected-release-year,
.selected-genres-info,
.selected-author-info,
.selected-chapters-info,
.selected-volumes-info {
    color: var(--WhiteColor);
}

.selected-item-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    height: auto;
}

.selected-item-content-header {
    background-color: var(--GrayBg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.selected-item-description-title {
    color: var(--WhiteColor);
    font-size: 24px;
    font-weight: 600;
}

.selected-content-header-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selected-content-header-item {
    all: unset;
    background-color: var(--OrangeBg);
    border-radius: 10px;
    color: var(--WhiteColor);
    flex: auto;
    min-width: 100px;
    width: fit-content;
}

.selected-links-anchor {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 16px 0;
    width: 100%;
}

.selected-trailer-container {
    height: 100%;
}

.selected-trailer-content {
    flex-grow: 1;
    padding: 24px;
    border-radius: 10px;
    height: fit-content;
    background-color: var(--GrayBg);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.selected-title-article {
    color: var(--WhiteColor);
    font-size: 24px;
    font-weight: 600;
}

.selected-trailer-video {
    all: unset;
    border-radius: 10px;
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.selected-trailer-not-found-content {
    flex-grow: 1;
    height: 500px;
    position: relative;
}

.selected-trailer-not-found-message {
    background-color: var(--TransparentBlack);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: 10px 10px 0 0;
    padding: 16px;
    position: absolute;
    width: 100%;
}

.selected-trailer-not-found-message-title {
    color: var(--WhiteColor);

}   

.selected-trailer-not-found {
    background-image: url('../../images/notFound.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.item-not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.item-not-found-title {
    font-size: clamp(1.5rem, -0.375rem + 6vw, 3rem);
    color: var(--OrangeBg);
}

.item-not-found-subTitle {
    font-size: clamp(1.125rem, 0.0313rem + 3.5vw, 2rem);
    color: var(--WhiteColor);
    max-width: 80%;
}

.item-not-found-bg {
    background-image: url('../../images/notFoundSecondary.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 50%;
    width: 50%;

    @media (max-width: 768px) {
        min-width: 80%;
    }
}

.item-not-found-button {
    all: unset;
    background-color: var(--OrangeBg);
    color: var(--WhiteColor);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    transition: 0.2s ease;
    font-size: 24px;

    &:hover {
        transform: scale(0.98);
    }
}

.item-not-found-anchor {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}