.all-items-container {
    min-height: 100vh;
    justify-content: center;
    gap: 16px;
    display: flex;
    padding: 120px 48px;

    @media (max-width: 1024px) {
        display: block;
    }

    @media (max-width: 768px) {
        padding: 48px;
    }
}

.all-items-side-container {
    background-color: var(--GrayBg);
    border-radius: 10px;
    height: fit-content;
    min-height: 400px;
    min-width: 300px;
    padding: 32px 24px;

    @media (max-width: 1024px) {
        margin-bottom: 48px;
        min-height: auto;
        height: fit-content;
    }
}

.all-items-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.all-items-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.all-items-item {
    all: unset;
}

.all-items-text-input {
    all: unset;
    border: 2px solid var(--WhiteColor);
    border-radius: 10px;
    padding: 8px 0;
    width: 100%;
    color: var(--WhiteColor);
    text-align: center;

    &::placeholder {
        color: var(--WhiteColor);
    }
}

.all-items-details {
    cursor: default;
    padding: 24px 0;
}

.all-items-summary {
    align-items: center;
    color: var(--WhiteColor);
    cursor: pointer;
    display: flex;
    font-size: 24px;
    gap: 8px;
    width: fit-content;
}

.all-items-summary::-webkit-details-marker {
    display: none;
}

.all-items-summary::after {
    content: "";
    background-image: url('../../icons/down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.all-items-details[open] .all-items-summary::after {
    background-image: url('../../icons/up-arrow.svg');
}

.all-items-summary-content {
    padding: 8px 0;
}

.all-items-summary-title {
    color: var(--WhiteColor);
    padding-bottom: 16px;
}

.all-items-input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.all-items-input-item {
    align-items: center;
    display: flex;
    gap: 8px;
}

.all-items-input-checkBox {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 3px solid transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px var(--WhiteColor);
}

.all-items-input-checkBox div {
    width: 60px;
    height: 60px;
    background-color: var(--WhiteColor);
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.all-items-input-checkBox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.all-items-input-checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.all-items-input-transition {
    transition: 300ms ease;
}

.all-items-input-label {
    color: var(--WhiteColor);
}

.all-items-button-nav {
    all: unset;
    background-color: var(--OrangeBg);
    border-radius: 10px;
    color: var(--WhiteColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    transition: 0.2s ease;

    &:hover {
        transform: scale(0.98);
    }
}
