body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
    background-color: var(--WhiteColor);
    border-radius: 50px;

}


body {
    background-color: var(--BlackBg);
    font-family: 'Exo 2', sans-serif;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 1920px;
}

.more-content-button {
    all: unset;
    align-items: center;
    background-color: var(--OrangeBg);
    border-radius: 10px;
    color: var(--WhiteColor);
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.2s ease;
    width: 100px;

    &:hover {
        transform: scale(0.98);
    }
}

.current-page-value {
    align-items: center;
    background-color: var(--OrangeBg);
    border-radius: 50%;
    color: var(--WhiteColor);
    display: flex;
    font-size: 18px;
    height: 32px;
    justify-content: center;
    width: 32px;
}

/* Estilização do cabeçalho */

.main-header {
    background-color: var(--TransparentBlack);
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    position: absolute;

    @media (max-width: 768px) {
        position: relative;
        justify-content: center;
        gap: 24px;
    }
}

.header-button {
    all: unset;
    cursor: pointer;
}

.header-anchor {
    
    all: unset;
    font-size: 32px;
    font-weight: 700;
    color: var(--WhiteColor);
}

.header-input {
    all: unset;
    border: 2px solid var(--WhiteColor);
    border-radius: 10px;
    padding: 8px 16px;
    color: var(--WhiteColor);
    min-width: 300px;

    &::placeholder {
        color: var(--GrayColor);
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}

/* Estilização do overlay */

.overlay {
    background-color: var(--OverlayBg);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.overlay-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

/* Estilização do loader */

.loader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.svg-loader {
    width: 3.25em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

.svg-circle {
    fill: none;
    stroke: var(--OrangeBg);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.initial-page-content {
    flex-direction: column;
    gap: 48px;
}

.items-contents {
    padding: 0 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 768px) {
        align-items: center;
        padding: 0 0 0 24px;
    }

    @media (max-width: 320px) {
        padding: 0 0 0 16px;
    }
}

.subtitle-container {
    background-color: var(--GrayBg);
    border-radius: 10px;
    padding: 16px;
    width: 100%;

    @media (max-width: 768px) {
        width: fit-content;
        background-color: transparent;
    }
}

.subtitle {
    font-size: clamp(1.5rem, 0.875rem + 2vw, 2rem);
    color: var(--WhiteColor);
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.slider-prev-button {
    all: unset;
    background-color: var(--OrangeBg);
    background-image: url('../../../icons/prev-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 50px;
    left: 0;
    position: absolute;
    transition: 0.2s ease;
    width: 50px;
    z-index: 999;

    &:hover {
        transform: scale(1.05);
    }

    @media (max-width: 768px) {
        display: block;
        left: 16px;
    }
}

.slider-next-button {
    all: unset;
    background-color: var(--OrangeBg);
    background-image: url('../../../icons/next-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 50px;
    position: absolute;
    right: 0;
    transition: 0.2s ease;
    width: 50px;
    z-index: 999;

    &:hover {
        transform: scale(1.05);
    }

    @media (max-width: 768px) {
        display: block;
        right: 16px;
    }
}

/* Estilização do carrossel */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.carousel-list {
    display: flex;
    gap: 24px;
    overflow: hidden;
    width: 75%;
    scroll-behavior: smooth;

    @media (max-width: 1024px) {
        width: 100%;
        justify-content: flex-start;
    }
}

.carousel-list-item {
    all: unset;
    flex: 1 1 300px;
    min-width: 300px;
    filter: grayscale(80%);
}

.carousel-list-item.active {
    filter: grayscale(0%);
}

.carousel-card {
    background-color: var(--GrayBg);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease;

    &:hover {
        transform: scale(0.98);
    }
}

.carousel-card-image {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-card-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.carousel-card-title {
    font-size: 24px;
    color: var(--WhiteColor);
}

.carousel-prev-button {
    all: unset;
    background-color: var(--OrangeBg);
    background-image: url('../../../icons/prev-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    left: 0;
    position: absolute;
    transition: 0.2s ease;
    width: 50px;
    z-index: 999;

    &:hover {
        transform: scale(1.05);
    }
}

.carousel-next-button {
    all: unset;
    background-color: var(--OrangeBg);
    background-image: url('../../../icons/next-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    transition: 0.2s ease;
    width: 50px;
    z-index: 999;

    &:hover {
        transform: scale(1.05);
    }
}

.carousel-prev-button {
    left: 5%;
}

.carousel-next-button {
    right: 5%;
}

/* Estilização dos cards */

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    scroll-behavior: smooth;
    overflow: hidden;

    @media (max-width: 768px) {
        flex-wrap: nowrap;
        padding-right: 16px;
    }
}

.list-secondary {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.list-item {
    all: unset;
    flex: 1 1 250px;
    min-width: 250px;

    @media (max-width: 768px) {
        flex: 1 1 300px;
        min-width: 300px;
    }
}

.card {
    background-color: var(--GrayBg);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease;

    &:hover {
        transform: scale(0.98);
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-image {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.card-title {
    font-size: 24px;
    color: var(--WhiteColor);
}

.card-episodes,
.card-release,
.card-genres,
.card-author,
.card-chapters,
.card-volumes,
.card-episodes,
.card-favorites {
    color: var(--GrayColor);
}

/* Estilização de todos os items (animes && mangas) */

.all-items-container {
    min-height: 100vh;
    justify-content: center;
    gap: 16px;
    display: none;
    padding: 120px 48px;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        padding: 48px 0;
    }
    
}

.all-items-side-container {
    padding: 0 24px;

    @media (max-width: 320px) {
        padding: 0;
    }
}

.all-items-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--GrayBg);
    border-radius: 10px;
    height: fit-content;
    min-width: 300px;
    padding: 32px 24px;
    min-height: 400px;

    @media (max-width: 425px) {
        max-width: auto;
    }
}

.all-items-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.all-items-item {
    all: unset;
}

.all-items-text-input {
    all: unset;
    border: 2px solid var(--WhiteColor);
    border-radius: 10px;
    padding: 8px 0;
    width: 100%;
    color: var(--WhiteColor);
    text-align: center;

    &::placeholder {
        color: var(--WhiteColor);
    }
}

.detail-title {
    color: var(--WhiteColor);
    font-weight: 500;
    font-size: 32px;
}

.all-items-details {
    cursor: default;
    padding: 24px 0;
}

.all-items-summary {
    align-items: center;
    color: var(--WhiteColor);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    gap: 8px;
    width: fit-content;
    margin-bottom: 16px;
}

.all-items-summary::-webkit-details-marker {
    display: none;
}

.all-items-summary::after {
    content: "";
    background-image: url('../../icons/down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}

.all-items-details[open] .all-items-summary::after {
    background-image: url('../../icons/up-arrow.svg');
}

.all-items-input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.all-items-input-item {
    align-items: center;
    display: flex;
    gap: 16px;
}

.all-items-input-checkBox {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px var(--WhiteColor);
}

.all-items-input-checkBox div {
    width: 60px;
    height: 60px;
    background-color: var(--WhiteColor);
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.all-items-input-checkBox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.all-items-input-checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.all-items-input-transition {
    transition: 300ms ease;
}

.all-items-input-label {
    color: var(--WhiteColor);
    font-size: 20px;
}

.all-items-button-nav {
    all: unset;
    background-color: var(--OrangeBg);
    border-radius: 10px;
    color: var(--WhiteColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    transition: 0.2s ease;

    &:hover {
        transform: scale(0.98);
    }
}

.all-items-button-nav.disabled {
    background-color: var(--TransparentBlack);
    color: var(--GrayColor);
    cursor: not-allowed;

    &:hover {
        transform: scale(1);
    }
}

.all-animes-button {
    align-items: center;
    display: flex;
    gap: 16px;
}



