:root {
    --OrangeBg: #ff7442;
    --WhiteColor: #f5f5f5;
    --WhiteBg: #f7f7f7;
    --GrayColor: #dbdbdb;
    --BlackBg: #303030;
    --BlackColor: #000000;
    --TransparentBlack : rgba(0, 0, 0, 0.300);
}